{% extends "app.html" %}
{% block title %}Home{% endblock %}

{% block content%}
<ol class="breadcrumb  active fs-4 m-4">
    <li class="breadcrumb-item"><strong> Software Engineer </strong></li>
    <li class="breadcrumb-item"><strong> Software Developer </strong></li>
    <li class="breadcrumb-item"><strong> Data Engineer </strong></li>
    <li class="breadcrumb-item"><strong> Data Analyst </strong></li>    
</ol>
<div class="row mb-4">
    <div class="col">
        <div class="card mb-4">
            <div class="card-body ">
                <p >   
                    Agile, motivated, and Versatile Computer Science graduate with years of experience developing software and designing data-driven solutions to improve business operations. 
                </p>
            </div>
        </div>
    </div>
</div>
<hr class="border border-dark">
<div class="row mb-4">
    <div class="col-xl-6 ">
        <div class="card border border-dark mb-4">
            <div class="card-header">
                <h5 class="text-center">Education</h5>
            </div>
            <div class="card-body">
                <h3 class="text-center"><strong>Bachelor of Science <br> Computer Science</strong></h3>
                <hr>
                <h5><strong>School:</strong> Towson University, Towson, MD</h5>
                <h5><strong>Graduationd:</strong> May 2023<h5>
                <hr>
                <h5><strong>Coursework:</strong></h5>
                <ul class="fs-5">
                    <li>Data Structures</li>
                    <li>Database Management</li>
                    <li>Web-Based Program</li>
                    <li>Software Engineering</li>
                    <li>Artificial Intelligence</li>
                    <li>Object-Oriented Design</li>
                    <li>Statistics</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card border border-dark  mb-4">
            <div class="card-header">
                <h5 class="text-center">Employment</h5>
            </div>
            <div class="card-body">
                <div>
                    <h5><strong>Technical Intern</strong></h5>
                    <div class="d-flex justify-content-between">
                        <p>Leidos</p>
                        <p>Oct 2023 – Present</p>
                    </div>
                    <ul>
                        <li>Utilized Python and Data Science Methodology to support development on a project using NPL. </li>
                    </ul>
                </div>
                <hr>
                <div>
                    <h5><strong>Software Engineer Intern</strong></h5>
                    <div class="d-flex justify-content-between">
                        <p>Leidos</p>
                        <p>Jun 2023 – Sep 2023</p>
                    </div>
                    <ul>
                        <li>Spearheaded the development of major functionality for a back-end API by analyzing user requirements and ensuring seamless integration with existing systems.</li>
                        <li>Implemented efficient algorithms to improve code efficiency and reduce the unit test process by 60%, enhancing the CI process.</li>
                        <li>Utilized Splunk and Jenkins to troubleshoot complex software and implement timely solutions for end users.</li>
                    </ul>
                </div>
                <hr>
                <div>
                    <h5><strong>Business Assistant</strong></h5>
                    <div class="d-flex justify-content-between">
                        <p>Gopinath INC.</p>
                        <p>Jan 2019 – Present</p>
                    </div>
                    <ul>
                        <li>Designed software for information analysis by automating data collection using OCR and Python.</li>
                        <li>Optimized cost-effective supply deliveries by analyzing market price data, consistently generating over 37% profit margins.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Skills -->
<h3> Skills </h3>
<hr class="border border-dark">
<div class="row mb-4">
    <div class="col-xl-3 col-md-6">
        <div class="card mb-4 border border-dark">
            <div class="card-body fs-5 p-1">
                <img width="48" height="48" src="https://img.icons8.com/color/48/python--v1.png" alt="python--v1"/>
                Python
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card mb-4 border border-dark">
            <div class="card-body fs-5 p-1">
                <img width="48" height="48" src="https://img.icons8.com/color/48/java-coffee-cup-logo--v1.png" alt="java-coffee-cup-logo--v1"/>
                Java
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card mb-4 border border-dark">
            <div class="card-body fs-5 p-1">
                <img width="48" height="48" src="https://img.icons8.com/color/48/sql.png" alt="sql"/>
                SQL / MySQL
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card mb-4 border border-dark">
            <div class="card-body fs-5 p-1">
                <img width="48" height="48" src="https://img.icons8.com/color/48/api-settings.png" alt="api-settings"/>
                API
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card mb-4 border border-dark">
            <div class="card-body fs-5 p-1">
                <img width="48" height="48" src="https://img.icons8.com/color/48/pandas.png" alt="pandas"/>
                Pandas
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card mb-4 border border-dark">
            <div class="card-body fs-5 p-1">
                <img width="48" height="48" src="https://img.icons8.com/color/48/numpy.png" alt="numpy"/>
                NumPy
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card mb-4 border border-dark">
            <div class="card-body fs-5 p-1">
                <img width="48" height="48" src="https://img.icons8.com/color/48/html-5--v1.png" alt="html-5--v1"/>
                HTML
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card mb-4 border border-dark">
            <div class="card-body fs-5 p-1">
                <img width="48" height="48" src="https://img.icons8.com/color/48/css3.png" alt="css3"/>
                CSS
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card mb-4 border border-dark">
            <div class="card-body fs-5 p-1">
                <img width="48" height="48" src="https://img.icons8.com/color/48/microsoft-excel-2019--v1.png" alt="microsoft-excel-2019--v1"/>
                Excel
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card mb-4 border border-dark">
            <div class="card-body fs-5 p-1">
                <img width="48" height="48" src="https://img.icons8.com/color/48/spring-logo.png" alt="spring-logo"/>
                Sprong Boot
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card mb-4 border border-dark">
            <div class="card-body fs-5 p-1">
                <img width="48" height="48" src="https://img.icons8.com/color/48/angularjs.png" alt="angularjs"/>
                Angular
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card mb-4 border border-dark">
            <div class="card-body fs-5 p-1">
                <img width="48" height="48" src="https://img.icons8.com/color/48/flask.png" alt="flask"/>
                Flask
            </div>
        </div>
    </div>

</div>
<!-- projects -->
<h3> Feature Projects </h3>
<hr class="border border-dark">
<div class="row mb-4">
    <div class="col-sm ">
        <div class="card mb-4 border border-dark">
            <img class="card-img-top" 
                src="{{url_for('static', filename='SchoolManagment.JPG')}}" alt="Card image cap">
            <hr>
            <div class="card-body">
                <h5><strong>School Administrative Websites</strong></h5>
                <ul>
                    <li>a website whch adressed chuch school program admistrative need</li>
                </ul>
            </div>
            <div class="card-footer d-flex align-items-center ">
                <img width="48" height="48" src="https://img.icons8.com/color/48/angularjs.png" alt="angularjs"/>
                <img width="48" height="48" src="https://img.icons8.com/color/48/html-5--v1.png" alt="html-5--v1"/>
                <img width="48" height="48" src="https://img.icons8.com/color/48/css3.png" alt="css3"/>
            </div>
        </div>
    </div>
    <div class="col-sm ">
        <div class="card mb-4 border border-dark">
            <img class="card-img-top" src="{{url_for('static', filename='DoLittel.JPG')}}" alt="Card image cap">
            <hr>
            <div class="card-body">
                <h5><strong>Dolittle</strong></h5>
                <ul>
                    <li>a website that allows users to search information from multiple sources with a single search. </li>
                </ul>
                <a href="https://cosc-484-dolittle-lmfa5nwiv-tyreitix.vercel.app/" target="_blank" class="btn btn-primary" >Link</a>
            </div>
            <div class="card-footer d-flex align-items-center"> 
                <img width="48" height="48" src="https://img.icons8.com/fluency/48/node-js.png" alt="node-js"/>
                <img width="48" height="48" src="https://img.icons8.com/color/48/javascript--v1.png" alt="javascript--v1"/>
            </div>
        </div>
    </div>
    <div class="col-sm ">
        <div class="card mb-4 border border-dark">
            <img class="card-img-top" src="{{url_for('static', filename='YMCA.PNG')}}" alt="Card image cap">
            <hr>
            <div class="card-body">
                <h5><strong>Mock YMCA Database</strong></h5>
                <ul>
                    <li> Database using MySQL for YMCA which allowed user to perform CRUD operations using GUI app.</li>
                </ul>
            </div>
            <div class="card-footer d-flex align-items-center ">
                <img width="48" height="48" src="https://img.icons8.com/color/48/java-coffee-cup-logo--v1.png" alt="java-coffee-cup-logo--v1"/>
                <img width="48" height="48" src="https://img.icons8.com/color/48/mysql-logo.png" alt="mysql-logo"/>
            </div>
        </div>
    </div>
</div>
{% endblock %}